.container-table {
    background-color: #696964;
    width: 900px;
    text-align: center;
    margin-top: 20px;
}

.table {
    width: 100%;
}

.table thead {
    text-align: center;
    height: 40px;
}

tr th {
    width: 300px;
    flex-wrap: wrap;
}

.titulo {
    font-size: 30px;
    padding: 10px 0 5px 0;
    border-bottom: 1px solid #000;
    display: inline-block;
}